In [2]:
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.firefox.options import Options
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import csv
import re
import time

In [3]:
df = pd.read_csv('vinData.csv')
df.head()

                        Name  Year   Price  Rating        Country
0  Edizione Cinque Autoctoni  9999  149.00     4.3          Italy
1                Malbec 2018  2018   59.95     3.8      Argentina
2                Malbec 2016  2016  129.95     4.1      Argentina
3                Malbec 2013  2013   99.95     3.9      Argentina
4             Red Blend 2017  2017  549.00     4.3  United States

In [4]:
italyFilter = df['Country']=='Italy'
italy = df[italyFilter]